{{>header}}
<!-- Page Content -->
<div class="container container-white" style="padding-bottom: 20px;">
  <div class="row mx-auto " >
    <div class="col-lg-12 mx-auto">
      <h1 style="text-align: center;">Ajustes</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 mx-auto " style="text-align: center;">
      <ul class="nav flex-column" style="text-align: left;">
        <li class="nav-item" style="text-align: center;">
          <a class="nav-link" href="/error500" style="color:white;font-size: 30px; background-color: cadetblue; border-radius: 10px; margin: 8px;">Ayuda de la pantalla Productos</a>
        </li>
        <li class="nav-item" style="text-align: center;">
          <a class="nav-link" href="/error500" style="color:white;font-size: 30px; background-color: cadetblue; border-radius: 10px; margin: 8px;">Ayuda de la pantalla de Ajustes</a>
        </li>
        <li class="nav-item" style="text-align: center;">
          <a class="nav-link" href="/error500" style="color:white;font-size: 30px; background-color: cadetblue; border-radius: 10px; margin: 8px;">Ayuda de la pantalla de Gráficas</a>
        </li>
        <li class="nav-item" style="text-align: center;">
          <a class="nav-link" href="/error500" style="color:white;font-size: 30px; background-color: cadetblue; border-radius: 10px; margin: 8px;">Ayuda de la pantalla de Pedidos</a>
        </li>
        <li class="nav-item" style="text-align: center;">
          <a class="nav-link" href="/error500" style="color:white;font-size: 30px; background-color: cadetblue; border-radius: 10px; margin: 8px;">Ayuda de la pantalla de Calendario</a>
        </li>
        <li class="nav-item" style="text-align: center;">
          <a class="nav-link" href="/error500" style="color:white;font-size: 30px; background-color: cadetblue; border-radius: 10px; margin: 8px;">Ayuda de la pantalla de Perfil</a>
        </li>
      </ul>
  </div>
</div>
</div>
{{>footer}}